.bagList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    width: 500px;
    height: 100vh;
    right: 0;
    z-index: 1000;
    background-color: var(--grayOne);
    padding: 20px 60px;
    border-left: 2px solid var(--grayThree);
    transition: all .6s ease;
    transform: translateX(100%);
}

/* bag list top */

.bagListTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bagListTop h5 {
    font-size: var(--pFont);
}

.close{
    background-color: transparent;
    border: 2px solid var(--grayThree);
    color: var(--grayThree);
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all .6s ease;
    padding: 5px 10px;
}

.close:hover {
    background-color: var(--blue);
    color: var(--white);
    border: 2px solid transparent;
}

/* Products container */

.productsContainer {
    flex-grow: 1;
    margin: 5px 0;
    overflow-y: auto;
}

.products {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 10px 0;
    align-items: center;
    border-bottom: 1px solid var(--grayThree);
    border-top: 1px solid var(--grayThree);
    transition: all .6s ease;
}

.bagImg {
    background-color: var(--white);
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid var(--grayThree);
}

.bagImg img {
    max-width: 50px;
}

.producInf {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.producInf h6 {
    font-size: var(--smallFont1);
}

.producInf span {
    font-size: var(--smallFont2);
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
}

.delete {
    background-color: transparent;
    border: 2px solid var(--grayThree);
    color: var(--grayThree);
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all .6s ease;
    padding: 3px 8px;
    background-color: transparent;
    border: 2px solid var(--grayThree);
    color: var(--grayThree);
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all .6s ease;
    position: relative;
    right: -25%;
}

.delete:hover {
    color: var(--black);
}

.number {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    height: 30px;
    border: 1px solid var(--grayThree);
    border-radius: 10px;
    background-color: transparent;
    padding: 5px;
}

.remove,
.add {
    cursor: pointer;
    color: var(--grayThree);
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    transition: all .6s ease;
}

.remove:hover,
.add:hover {
    color: var(--black);
}

.displayNumber {
    font-size: 16px;
    font-weight: bold;
    color: var(--black);
    text-align: center;
    flex: 1;
}

.displayNumber {
    font-size: var(--smallFont2);
    border-left: 1px solid var(--grayThree);
    border-right: 1px solid var(--grayThree);
}

/* Bag list bottom */

.bagListBottom {
    margin-top: 20px;
}

.total {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 1px solid var(--grayThree);
    border-bottom: 1px solid var(--grayThree);
    margin-bottom: 15px;
}

.total span {
    font-size: var(--smallFont2);
}

.bagCtas {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.ctaBtn {
    width: 100%;
    padding: 8px 10px;
    cursor: pointer;
    font-size: var(--smallFont2);
    border-radius: 20px;
    transition: all .6s ease;
}

.shoppingCta {
    border: 1px solid var(--grayThree);
    color: var(--grayThree);
    background-color: transparent;
}

.buyBtn {
    border: 1px solid transparent;
    color: var(--white);
    background-color: var(--blue);
}

.shoppingCta:hover {
    color: var(--black);
    transform: translateY(-5px);
}

.buyBtn:hover {
    transform: translateY(-5px);
}

@media (max-width: 570px){
    .bagList{
        width: 100%;
        padding: 20px 10px;
    }

    .products{
        justify-content: space-around;
    }

    .bagImg img {
        max-width: 40px;
    }
}