.content {
    margin-top: 5.5rem;
    padding: 0 15rem;
}

.summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--grayThree);
}

.summary h2{
    font-size: 1.4rem;
}

.price {
    color: var(--blue);
    font-size: 1rem;
}

@media (max-width: 1300px){
    .content{
        padding: 0 10rem;
    }
}

@media (max-width: 1115px){
    .content{
        padding: 0 3rem;
    }
}

@media (max-width: 860px){
    .content{
        padding: 0 1.5rem;
    }
}