nav {
    position: fixed;
    top: 0;
    width: 100%;
    right: 0;
    z-index: 2;
    padding: 10px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    transition: all .50s ease;
    border-bottom: 1px solid var(--grayThree);
}

.logo svg {
    width: 3rem;
    height: 3rem;
}

.navBtn {
    padding: 8px 12px;
    color: var(--white);
    background-color: var(--blue);
    border: none;
    border-radius: 30px;
    transition: all .6s ease;
    font-size: 1rem;
}

.navBtn:hover {
    background-color: var(--gold);
    transform: translateY(-5px);
    color: var(--black);
}

@media (max-width: 768px) {
    .logo svg {
        width: 2.5rem;
        height: 2.5rem;
    }

    .navBtn {
        font-size: 0.8rem;
    }
}

@media (max-width: 425px) {

    nav {
        padding: 10px 3%;
    }

    .logo svg {
        width: 2rem;
        height: 2rem;
    }

    .navBtn {
        font-size: 0.7rem;
    }
}