.footer {
    background-color: var(--grayOne);
    color: var(--grayThree);
    padding: 30px 150px;
    padding-top: 100px;
}

.links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 0px 100px;
    margin: auto;
}

.linkSection {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: var(--smallFont2);
    width: auto;
}

.linkSection h6 {
    color: var(--grayThree);
    font-size: var(--smallFont2);
    margin-bottom: 8px;
}

.rights {
    display: flex;
    margin-top: 20px;
    padding: 20px 0;
    justify-content: space-between;
    border-top: solid 2px var(--grayThree);
    font-size: var(--smallFont2);
}

.rights div {
    display: flex;
    gap: 10px;
}

.rights div a,
.linkSection a {
    color: var(--grayThree);
    transition: all .2s ease;
    display: inline-block;
    white-space: nowrap;
}

.rights div a:hover,
.linkSection a:hover {
    color: var(--grayTwo);
}

.credits{
    margin: auto;
    font-size: var(--smallFont2);
}