* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

:root {
    --white: #fff;
    --grayOne: #F5F5F7;
    --grayTwo: #D2D2D7;
    --grayThree: #86868B;
    --black: #000;
    --gold: #D4AF37;
    --blue: #0071E3;

    --bigFont: 6.6rem;
    --bigFont2: 4.5rem;
    --bigFont3: 2rem;
    --pFont: 1.3rem;
    --smallFont1: 1rem;
    --smallFont2: 0.8rem;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--white);
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--grayTwo);
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--grayThree);
}

body::-webkit-scrollbar-track {
    background-color: var(--white);
}

.custom-alert {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #f44336;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.custom-alert.fade-out {
    opacity: 0;
}

@media (max-width: 1300px) {
    :root {
        --bigFont: 5.5rem;
        --bigFont2: 4rem;
        --bifFont3: 1.8rem;
        --pFont: 15px;
        --smallFont1: 0.8rem;
    }
}

@media (max-width: 1150px) {
    :root {
        --bigFont: 4.6rem;
        --bigFont2: 3.8rem;
        --bigFont3: 1.6rem;
    }
}

@media(max-width: 1024px) {
    :root {
        --smallFont2: 0.7rem;
    }
}

@media (max-width: 700px) {
    :root {
        --bigFont3: 1.2rem;
    }
}

@media (max-width: 570px) {
    :root {
        --bigFont: 4rem;
        --bigFont2: 3rem;
    }
}

@media (max-width: 440px) {
    :root {
        --bigFont: 3.4rem;
        --bigFont2: 2.4rem;
        --bigFont4: 1.2rem;
        --pFont: 12px;
    }
}