* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

:root {
    --white: #fff;
    --grayOne: #F5F5F7;
    --grayTwo: #D2D2D7;
    --grayThree: #86868B;
    --black: #000;
    --gold: #D4AF37;
    --blue: #0071E3;

    --bigFont: 6.6rem;
    --bigFont2: 4.5rem;
    --bigFont3: 2rem;
    --pFont: 1.3rem;
    --smallFont1: 1rem;
    --smallFont2: 0.8rem;

    --lineHeightH1: 100px;
    --lineHeightH3: 70px;
    --lineHeightP: 30px;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

img {
    user-select: none;
}

.loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: all 0.2s ease-in-out;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid var(--grayThree);
    border-top-color: var(--black);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

body {
    background-color: var(--white);
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--grayTwo);
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--grayThree);
}

body::-webkit-scrollbar-track {
    background-color: var(--white);
}

.container3d {
    position: fixed;
    inset: 0;
    z-index: 1;
    pointer-events: none;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    right: 0;
    z-index: 2;
    padding: 10px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    transition: all .50s ease;
    border-bottom: 1px solid var(--grayThree);
}

.logo svg {
    width: 3rem;
    height: 3rem;
}

.rightContent {
    display: flex;
}

.menu {
    display: flex;
    align-items: center;
}

.menu li {
    margin-left: 35px;
}

.menu li a {
    display: inline-block;
    color: var(--black);
    transition: all .6s ease;
    font-size: 1rem;
}

.menu li a:hover {
    color: var(--gold);
}

.navBtn {
    padding: 5px 10px;
    background-color: var(--blue);
    border: 2px solid transparent;
    border-radius: 20px;
    color: var(--white) !important;
    transition: all .6s ease;
}

.navBtn:hover {
    transform: translateY(-5px);
    background-color: #D4AF37;
    color: var(--black) !important;
}

.bag {
    position: relative;
    transition: all .6s ease;
    cursor: pointer;
}

.bag:hover {
    transform: translateY(-5px);
}

.bag img {
    max-height: 1.5rem;
    transition: all o.2s ease;
}

.bag span {
    background-color: var(--blue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    position: absolute;
    top: -5px;
    left: 70%;
    padding: 3px 8px;
    font-size: 0.7rem;
}

.rightContent svg {
    width: 42px;
    height: 42px;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

header,
section {
    padding: 130px 5%;
    width: 100%;
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header {
    background-color: var(--grayOne);
    padding-top: 50px;
}

h1 {
    font-size: var(--bigFont) !important;
    margin: 15px 0;
    line-height: var(--lineHeightH1);
}

header p {
    font-size: var(--pFont);
    line-height: var(--lineHeightP);
}

.headerBtn {
    display: inline-block;
    padding: 13px 32px;
    background-color: transparent;
    border: 2px solid var(--grayThree);
    border-radius: 30px;
    color: var(--grayThree);
    transition: all .6s ease;
    margin-top: 20px;
    cursor: pointer;
}

.headerBtn:hover {
    background-color: var(--blue);
    color: var(--white);
    border-color: transparent;
}

header img {
    width: 600px;
}

section h3 {
    font-size: var(--bigFont2);
    color: var(--grayThree);
    line-height: var(--lineHeightH3);
}

section p {
    font-size: var(--pFont);
    line-height: var(--lineHeightP);
    margin-top: 15px;
}

.design img {
    height: 400px;
}

.sound,
.battery {
    background-color: var(--grayOne);
}

.soundImgs {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    gap: 20px;
    justify-self: self-end;
}

.soundImgsContent {
    display: grid;
    gap: 10px;
}

.soundIcons {
    height: 35px;
}

.smartCaseIcon {
    height: 20px;
}

.comfortText {
    z-index: 1;
}

.circular-sound-wave {
    position: absolute;
    height: 90%;
    right: 50px;
    top: -10px;
}

.person {
    position: relative;
    right: -150px;
    height: 500px;
}

.batteryDiv {
    margin-bottom: 30px;
}

.batteryImgsP {
    font-size: var(--pFont);
    margin-top: 0;
}

.batterySvg {
    width: 30px;
    height: 30px;
}

.buy {
    display: flex;
    align-items: center;
}

.buyLeft {
    max-width: 550px;
}

.buyLeft h4 {
    margin: 20px 0;
    font-size: var(--bigFont3);
    color: var(--black);
}

.buyRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    margin-left: 200px;
}

.buyImgs {
    position: relative;
    height: 100%;
    width: 100%;
}

.airpod-img {
    max-height: 100%;
    opacity: 0;
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.black {
    opacity: 1;
}

.btns {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    transform: translateY(20px);
}

.imgsBtn {
    display: flex;
    gap: 10px;
}

.btn {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: translateY(-3px);
}

.whiteBtn {
    background-color: #A3A3A3;
}

.blackBtn {
    background-color: #1C1C1E;
}

.greenBtn {
    background-color: #4C6A47;
}

.blueBtn {
    background-color: #187BA9;
}

.pinkBtn {
    background-color: #D75C77;
}

.addBtn {
    padding: 13px 32px;
    border-radius: 20px;
    background-color: var(--blue);
    color: var(--white);
    border: 2px solid transparent;
    transition: all .6s ease;
    cursor: pointer;
    font-size: var(--smallFont1);
}

.addBtn:hover {
    background-color: var(--gold);
    transform: translateY(-5px);
    color: var(--black);
}

.footer {
    background-color: var(--grayOne);
    color: var(--grayThree);
    padding: 30px 150px;
    padding-top: 100px;
}

.links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 0px 100px;
    margin: auto;
}

.linkSection {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: var(--smallFont2);
    width: auto;
}

.linkSection h6 {
    color: var(--grayThree);
    font-size: var(--smallFont2);
    margin-bottom: 8px;
}

.rights {
    display: flex;
    margin-top: 20px;
    padding: 20px 0;
    justify-content: space-between;
    border-top: solid 2px var(--grayThree);
    font-size: var(--smallFont2);
}

.rights div {
    display: flex;
    gap: 10px;
}

.rights div a,
.linkSection a {
    color: var(--grayThree);
    transition: all .2s ease;
    display: inline-block;
    white-space: nowrap;
}

.rights div a:hover,
.linkSection a:hover {
    color: var(--grayTwo);
}

.credits{
    margin: auto;
    font-size: var(--smallFont2);
}

@media (max-width: 1300px) {
    :root {
        --bigFont: 5.5rem;
        --bigFont2: 4rem;
        --bifFont3: 1.8rem;
        --pFont: 15px;
        --smallFont1: 0.8rem;

        --lineHeightH1: 80px;
        --lineHeightH3: 60px;
        --lineHeightP: 25px;
    }

    header,
    section {
        padding: 0 3%;
        overflow: hidden;
    }

    .headerBtn {
        font-size: var(--pFont);
        padding: 10px 28px;
    }

    section p {
        margin-top: 12px;
    }

    .design img {
        height: 350px;
    }

    .soundImgs {
        gap: 20px;
    }

    .soundImgsContent {
        gap: 10px;
    }

    .soundIcons {
        height: 30px;
    }

    .smartCaseIcon {
        height: 18px;
    }

    .soundImgsContent span {
        font-size: var(--pFont);
    }

    .circular-sound-wave {
        right: 130px;
    }

    .person {
        height: 400px;
    }

    .batterySvg {
        width: 25px;
        height: 25px;
    }

    .buyRight {
        height: 70%;
    }

    .airpod-img {
        height: 300px;
    }

    .imgsBtn {
        gap: 8px;
    }

    .btn {
        width: 22px;
        height: 22px;
    }

    .btns {
        gap: 10px;
    }

    .btns button {
        padding: 10px 28px;
        font-size: var(--smallFont1);
    }
}

@media (max-width: 1150px) {
    :root {
        --bigFont: 4.6rem;
        --bigFont2: 3.8rem;
        --bigFont3: 1.6rem;
        --lineHeightH1: 70px
    }

    header,
    section {
        padding: 0 2%;
    }

    .headerBtn {
        padding: 10px 29px;
    }



    header img {
        width: 500px;
    }

    .design img {
        height: 300px;
    }

    .circular-sound-wave {
        height: 87%;
    }

    .person {
        height: 350px;
    }

    .btns {
        transform: none;
    }

    .footer {
        padding: 30px 80px;
        padding-top: 100px;
    }
}

@media(max-width: 1024px) {
    :root {
        --smallFont2: 0.65rem;
    }

    .circular-sound-wave {
        right: 60px;
        top: 0px;
    }

    .buyRight {
        margin-left: 100px;
    }

    .btns {
        margin-top: 0px;
    }
}

@media (max-width: 950px) {

    :root {
        --smallFont2: 0.7rem;
    }

    .rightContent svg {
        display: block;
    }

    .bag {
        transform: translateY(25%);
    }

    .menu {
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 100px 50px;
        top: 0;
        bottom: 0;
        left: 100%;
        display: flex;
        flex-direction: column;
        background-color: var(--grayOne);
        transition: all .6s ease-in-out;
    }

    .menu li a {
        display: block;
        padding: 0;
        margin: 0px 0px 25px 0px;
        font-size: var(--bigFont3);
    }

    .menu.open {
        left: 0;
    }

    .navBtn {
        padding: 10px 20px !important;
    }

    header img {
        width: 400px;
    }

    .circular-sound-wave {
        right: 30px;
    }

    .buyRight {
        margin-left: 50px;
    }

    .footer {
        padding: 30px 40px;
    }

    .links {
        display: block;
    }

    .linkSection {
        background-color: var(--white);
        padding: 5px;
        margin-top: 2px;
        border: 1px solid var(--grayThree);
    }

    .linkSection a {
        display: none;
    }

    .linkSection h6 {
        cursor: pointer;
        position: relative;
        padding-right: 20px;
    }

    .linkSection h6::after {
        content: '\25BC';
        /* Downward arrow symbol */
        position: absolute;
        right: 0;
    }

    .linkSection.active a {
        display: block;
    }
}

@media (max-width: 920px) {
    header {
        grid-template-columns: 1fr;
        height: auto;
    }

    .headerText {
        padding: 130px;
    }

    header img {
        margin: auto;
        margin-bottom: 130px;
        width: 600px;
    }

    .person {
        left: 120px;
    }

    .buyRight {
        margin-left: 20px;
        height: 60%;
    }

    .airpod-img {
        height: 250px;
    }

    .btn {
        width: 20px;
        height: 20px;
        top: 25%;
    }

    .footer {
        padding: 30px 20px;
    }

    .rights {
        display: grid;
        gap: 10px;
        justify-content: center;
    }

}

@media (max-width: 768px) {
    .person {
        height: 300px;
        left: 100px;
    }

    .buy {
        display: grid;
    }
}

@media (max-width: 700px) {

    :root {
        --bigFont3: 1.2rem;
    }

    header img {
        width: 500px;
    }

    .person {
        left: 60px;
    }

    .sound,
    .battery,
    .buy {
        display: flex;
        height: 100vmax;
        flex-direction: column;
        gap: 50px;
        overflow-x: hidden;
    }

    .buyLeft,
    .batteryText,
    .soundText {
        order: 1;
        margin-top: 50px;
    }

    .soundImgs,
    .batteryImgs {
        order: 2;
    }

    .soundImgs {
        align-self: flex-start;
    }

    .batteryImgs {
        align-self: flex-end;
    }

    .buyRight {
        order: 2;
        flex-direction: row;
        width: 100%;
    }

    .buyImgs {
        width: 40%;
        height: 250px;
    }

    .btns {
        gap: 20px;
    }

    .btn:hover {
        transform: none;
        height: 23px;
        width: 23px;
    }

    .imgsBtn {
        order: 1;
        flex-direction: column;
    }

    .addBtn {
        order: 2;
    }
}

@media (max-width: 570px) {
    :root {
        --bigFont: 4rem;
        --bigFont2: 3rem;

        --lineHeightH1: 60px;
        --lineHeightH3: 50px;
    }

    .section {
        padding: 50px 5px;
        height: fit-content;
    }

    .headerText {
        padding: 0;
        margin-top: 130px;
    }

    header img {
        margin-top: 50px;
        width: 400px;
    }

    .comfort {
        display: flex;
        flex-direction: column;
        gap: 50px;
        overflow-x: hidden;
    }

    .comfortText {
        order: 1;
    }

    .comfortImgs {
        order: 2;
        justify-content: center;
    }

    .circular-sound-wave {
        transform: translateX(50px);
    }

    .person {
        transform: translateX(-40px);
    }
}

@media (max-width: 440px) {
    :root {
        --bigFont: 3.4rem;
        --bigFont2: 2.4rem;

        --pFont: 12px;

        --lineHeightH1: 50px;
        --lineHeightH3: 40px;
        --lineHeightP: 20px;
    }

    header img {
        width: 300px;
    }

    .design {
        display: flex;
        flex-direction: column;
        gap: 50px;
        overflow-x: hidden;
    }

    .designText {
        order: 1;
    }

    .design img {
        order: 2;
        height: 250px;
    }

    .airpod-img {
        height: 200px;
    }

    .buyImgs {
        height: 200px;
        margin-right: 15px;
    }

    .footer {
        padding: 50px 5px 20px 5px;
    }

    .links {
        padding: 0;
    }

    .rights {
        padding: 20px 0;
    }
}

@media(max-width: 425px) {
    .airpod-img {
        height: 100%;
        width: 100%;
    }

    .buyImgs {
        margin-right: 20px;
    }
}

@media(max-width: 375px) {
    .buyImgs {
        margin-right: 50px;
    }

    .rights div {
        gap: 5px
    }

    .btns {
        flex-direction: column;
    }

    .imgsBtn {
        flex-direction: row;
    }
}

@media(max-width: 320px) {
    .person {
        height: 200px;
    }

    .airpod-img {
        height: 150px;
    }

    .buyRight {
        width: 100vw;
        right: 10px;
    }

    .buyImgs {
        width: 30%;
        height: 150px;
        margin-right: 50px;
    }

    .addBtn {
        padding: 8px 10px;
    }

    .rights div {
        gap: 1px
    }
}